
<!DOCTYPE html>
<html lang="en" ng-app="todoApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js"></script>
    <!-- Link to external CSS file -->
    <link rel="stylesheet" href="styles.css">
</head>

<body ng-controller="todoController">
    <div class="container">
        <h2>To-Do List</h2>
        <input type="text" ng-model="newtask" placeholder="Create/Enter a new task">
        <button ng-click="addnewtask()">Add new Task</button>

        <table>
            <tr>
                <th colspan="3">Task Details</th>
            </tr>
            <tr ng-repeat="obj in arr">
                <td>
                    <span ng-if="!obj.isEditing">{{obj.taskname}}</span>
                    <input type="text" ng-if="obj.isEditing" ng-model="obj.taskname">
                </td>
                <td>
                    <button ng-click="editTask(obj)">
                        {{ obj.isEditing ? 'Save' : 'Edit' }}
                    </button>
                </td>
                <td>
                    <button ng-click="deleteTask($index)">Delete</button>
                </td>
            </tr>
        </table>
    </div>
</body>

<script>
    let app = angular.module('todoApp', []);

    app.controller('todoController', function ($scope) {
        $scope.arr = [];

        $scope.addnewtask = function () {
            if ($scope.newtask) {
                let obj = {
                    taskname: $scope.newtask,
                    isEditing: false
                };
                $scope.arr.push(obj);
                $scope.newtask = "";
            }
        };

        $scope.deleteTask = function (index) {
            $scope.arr.splice(index, 1);
        };

        $scope.editTask = function (obj) {
            obj.isEditing = !obj.isEditing;
        };
    });
</script>

</html>